{{- if .Values.envSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nut-exporter.fullname" . }}-env
  labels:
    {{- include "nut-exporter.labels" . | nindent 4 }}
stringData:
  {{- range $key, $val := .Values.envSecret }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}

{{- end }}